@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
 
body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#1D59FF, #244BC5, #1e0bd0,#2510a3);
  
}